*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard{
    display: grid;
    height: 100vh;
    /* grid-template-columns: 200px 200px ;
    grid-template-rows: 200px ; */
    /* grid-template-columns: repeat(auto-fit ,minmax(400px,1fr)); */
    grid-template-areas: "opt hdr" "opt cont";
   

}
/* .child-1, .child-2, .child-3 {
    background-color:rebeccapurple;;
} */
 .option>ul>li{
    list-style:none;
    padding: 10px;
 }
.option{
    grid-area: opt;
    height: 100vh;
    width: 20vw;
 background-color: #1992d4;
 color: aliceblue;
 padding: 30px;
 
}
.header{
    grid-area: hdr;
    height: 20vh;
    width: 80vw;
    background-color: #fff;
}
.header-1{
gap: 30px;
display: flex;
align-items: center;
padding: 10px;
padding-left: 40px;

}
.header-2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;

}
.big-profile,.profile{
    display: flex;
}
.header-1>input{
    width: 650px;
    border-radius: 20px;
    border: none;
    background-color: #e1dfdf;
}

.buttons>button{
    background-color: #1992d4;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    margin: 20px;
    border: none;

}
.content{
    grid-area: cont;
    height: 80vh;
    width: 80vw;
    background-color: rgb(231, 229, 229);
    display: flex;
    
}
.your-projects{
    width: 70vw;
    height: 100%;
    color: black;
    padding: 20px;
   
}
.blogs{
    padding: 20px;
    width: 30vw;
    height: 100%;
    
}
.flex{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: #fff;
    height: 150px;
    width: 350px;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-left: 10px solid rgb(235, 198, 16);

    
}
.announcment ,.trainning{
    background-color: #fff;
    border-radius: 5px;
}
.announcment {
    height: 250px;
    font-size: 12px;
    padding: 20px;
    margin-bottom: 20px;
    
    margin-top: 10px;
    
}
.icons{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: end;
    gap: 10px;
}
.trainning{
    padding: 20px;
    font-size: 12px;
    
}
.div{
    padding: 5px;
}
.img{
    padding: 5px ;
    display: flex;
    gap: 20px;
}
.img>img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: blueviolet;
}